
<template>
<div>
    <div class="container" id="divEnvForm">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Cadastro de Produto</div>

                    <div class="card-body">
                    <FormulateForm
                            #default="{ hasErrors }"
                            @submit="submit"
                    >
                        <div class="row">
                            <div class="col-md-12">
                                <FormulateInput
                                    type="text"
                                    name="txtName"
                                    validation="required"
                                    v-model="name"
                                    label="Nome"
                                    :validation-messages="{
                                        required: 'O Nome é obrigatório'
                                    }"
                                />
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-md-12">
                                <FormulateInput
                                    v-model="category"
                                    :options="categories"
                                    type="select"
                                    placeholder="Selecione"
                                    label="Categoria"
                                    validation="required"
                                    :validation-messages="{
                                        required: 'A Categoria é obrigatória'
                                    }"
                                />
                            </div>
                         </div>
                        <div class="row">

                            <div class="col-md-12">
                                <FormulateInput
                                    type="number"
                                    name="txtQtd"
                                    min="1"
                                    validation="required"
                                    v-model="quantity"
                                    label="Quantidade"
                                    :validation-messages="{
                                        required: 'A Quantidade é obrigatória'
                                    }"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Preço</label>
                                <money v-model="price" v-bind="money"></money>
                            </div>
                        </div>
                         <div class="row">


                            <div class="col-md-12">
                                <button
                                    type="submit"
                                    class="btn btn-success btn-lg btn-env  float-right"
                                    :disabled="hasErrors"
                                >
                                    Enviar
                                </button>
                            </div>
                        </div>

                </FormulateForm>
                        </div>


                </div>
            </div>
        </div>
    </div>
    </div>
</div>

</template>

<script>
    import Vue from 'vue'
    import VueFormulate from "@braid/vue-formulate";
    import money from 'v-money'

    Vue.use(VueFormulate)
    Vue.use(money, {precision: 4})

    export default {
         props:['propsCategories','propsData'],
        data () {
            return {
                name:(this.propsData != "")?JSON.parse(this.propsData).name:"",
                category:(this.propsData != "")?JSON.parse(this.propsData).category_id:"",
                quantity: (this.propsData != "")?JSON.parse(this.propsData).quantity:"",
                price:(this.propsData != "")?JSON.parse(this.propsData).price:0,
                money: {
                    decimal: ',',
                    thousands: '.',
                    precision: 2,
                    masked: false
                },
                categories: JSON.parse(this.propsCategories),
            }
        },
         mounted () {
            //  console.log((JSON.parse(this.propsData) != ""));

         },
        methods: {
            async submit() {
                if((this.propsData == "")){
                    const data = { name : this.name,
                                    category_id: this.category,
                                    quantity: this.quantity,
                                    price: this.price
                                    };
                    const response = await axios.post("/product", data);

                    if(response.data.success == 1){
                        alert('Produto Cadastrado com Sucesso!');
                        window.location.href = "/home";
                    }else{
                        alert('Ocorreu um erro!');
                    }
                }else{
                    const data = { name : this.name,
                                    category_id: this.category,
                                    quantity: this.quantity,
                                    price: this.price
                                    };
                    const response =
                    await axios.post(`/product/${JSON.parse(this.propsData).id}`,
                     {data:data,
                     _method: 'put'
                     });

                    if(response.data.success == 1){
                        alert('Produto Cadastrado com Sucesso!');
                        window.location.href = "/home";
                    }else{
                        alert('Ocorreu um erro!');
                    }
                }
            },
            createForm: function() {

                document.getElementById("divGeneratedFields").style.display="block";
                document.getElementById("divConfigFields").style.display="none";
            }
        }
    }
</script>
