
<template>
<div>
    <div class="wrapper">
        <form id="search">
            Buscar <input name="query" v-model="searchQuery">
        </form>
        <div id="grid-template">
            <div class="table-header-wrapper">
            <table class="table-header">
                <thead>
                <th v-for="key in columns"
                    @click="sortBy(key)"
                    :class="{ active: sortKey == key }"
                >
                    {{ key | capitalize }}
                    <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"></span>
                </th>
                </thead>
            </table>
            </div>
            <div class="table-body-wrapper">
            <table class="table-body">
                <tbody>
                <tr v-for="entry in filteredData">

                    <td v-for="key in columns">
                        <span v-if="key == 'editar'">
                                <a v-bind:href="entry[key]">Editar</a>
                        </span>
                        <span v-else-if="key == 'excluir'">
                                <a v-on:click='deleteProduct(entry[key])' href="#">Excluir</a>

                        </span>
                        <span v-else>{{entry[key]}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>

</template>

<script>
export default {
  name: "grid",
  props: {
    data: Array,
    columns: Array,
  },
  data(){
    return {
      searchQuery: '',
      sortKey: '',
      sortOrders: {},
    }
  },
  computed: {
    filteredData: function () {
      let sortKey = this.sortKey;
      let filterKey = this.searchQuery && this.searchQuery.toLowerCase();
      let order = this.sortOrders[sortKey] || 1;
      let data = this.data;

      if (filterKey) {
        data = data.filter(function (row) {
          return Object.keys(row).some(function (key) {
            return String(row[key]).toLowerCase().indexOf(filterKey) > -1;
          })
        })
      }
      if (sortKey) {
        data = data.slice().sort(function (a, b) {
          a = a[sortKey];
          b = b[sortKey];
          return (a === b ? 0 : a > b ? 1 : -1) * order;
        })
      }
    return data;
    },
  },
  filters: {
    capitalize: function (str) {
      return str.charAt(0).toUpperCase() + str.slice(1);
    }
  },
  methods: {
    async deleteProduct(id) {
        console.log(id);
        let ok = confirm("Deseja Excluir o Registro?");
        if(ok == true){

            axios.delete(`/product/${id}`)
            .then((response) => {
                alert('Registro Excluído com sucesso!');
                window.location.reload();
            }, (error) => {
                alert('Ocorreu um erro!');
            })


        }
    },
    sortBy: function (key) {
      this.sortKey = key;
      this.sortOrders[key] = this.sortOrders[key] * -1
    },
  },
  created(){
    let sortOrders = {};
    this.columns.forEach(function (key) {
      sortOrders[key] = 1;
    })
    this.sortOrders = sortOrders;
  }
}
</script>
