
<template>
<div>
    <div class="container" id="divEnvForm">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Listagem de Produto</div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">

                                <a  class="btn btn-success float-right"
                                href="product/create"
                                >
                                    Cadastrar Produto
                                </a>
                            </div>
                        </div>

                        <grid :data="gridData" :columns="gridColumns"></grid>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>

</template>

<script>
import Grid from './Grid'
   export default {
        name: 'app',
            data() {
                return {
                    gridData: [],
                    gridColumns: ['nome', 'categoria','editar','excluir'],
                    result: ''
                }

        },
         async mounted () {
            await axios
            .get('/product')
            .then(response => (this.result = response));

            for(let i=0;i<this.result.data.length;++i){
                this.gridData.push({ nome: this.result.data[i].name, categoria: this.result.data[i].category.name, editar:`/product/${this.result.data[i].id}/edit`,excluir: this.result.data[i].id });
            }
        },
        components: {
            Grid
        }
    }
</script>
